<% @user ||= current_user %>

<table class="user-info-table">
  <tr>
  <th style="width: 10%"><%= image_tag 'profile-pic.png', class:"image-circle" %></th>
  <th style="width: 50%">
    <h4><%= @user.full_name || @user.username %>'s Folders</h4>
  </th>
</tr>
</table>